:root {
    --plum: #823D70ff;
    --dark-red: #861505ff;
    --palatinate: #4D0645ff;
    --maroon: #810200ff;
    --tyrian-purple: #53052Bff;
    --violet-jtc: #501C49ff;
    --old-rose: #CF746Fff;
    --old-rose-2: #B66D75ff;
    --indian-red: #CB5762ff;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    height: 300vh;
    background-image: url("../media/background.jpg");
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Exo, sans-serif;
    padding-top: 5%;
}

section {
    background: hsl( 0 0% 100% / .15);
    backdrop-filter: blur(1.5rem);
    height: 100%;
    border-radius: 70px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, .6);
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 5%;
    margin-bottom: 15%;
}

input {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    font-size: 1rem;
}

button {
    background-color: var(--violet-jtc);
    color: whitesmoke;
    border-radius: 50px;
    box-shadow: 3px 3px 5px black;
    font-weight: 800;
    margin-left: 25px;
}

ul {
    list-style-type: none; /* Optional: Remove bullet points */
    padding: 0;
  }
  
  li {
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words for modern browsers */
    white-space: normal; /* Allow text to wrap normally */
    max-width: 300px; /* Set a maximum width for each list item */
    margin: 5px 0; /* Optional: Add some spacing between items */
    padding: 10px; /* Optional: Add padding for better readability */
    font-weight: 700;
  }


nav {
    border-bottom: 2px solid whitesmoke;
    border-radius: 40px;
    padding: 0 8%;
    margin-bottom: 10%;
    font-weight: 900;
    font-size: 1.3rem;
}

a {
    color: goldenrod;
    text-decoration: none;
}